.workAccordion {
  border: none !important;
  background: transparent !important;
  
  &:before {
    display: none !important;
  }

  :global {
    .MuiAccordionSummary-root {
      min-height: unset !important;
      padding: 0 !important;
    }

    .MuiAccordionSummary-content {
      margin: 0 !important;
    }

    .MuiAccordionDetails-root {
      padding: 16px 0 24px 50px !important;
    }
  }
}
